    {% extends "base.html" %} {% block title %}Hotels{% endblock %} 
    {% block content%}

    <!-- Start destinations Area -->
    <section class="destinations-area section-gap">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-2 col-md-11">
                <!-- Country Start -->
                <form method="POST">
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Country</h5>
                            <select class="custom-select" id="country-select" name="country" onchange="updateSecondSelect(this.value)">
                                {% set selectedValue = session['selectedValue'] %}
                                <option value="all" {% if selectedValue == 'all' or selectedValue is not defined %} selected {% endif %}>All country</option>
                                <option value="singapore" {% if selectedValue == 'singapore' %} selected {% endif %}>Singapore</option>
                                <option value="japan" {% if selectedValue == 'japan' %} selected {% endif %}>Japan</option>
                            </select>
                            <!-- Hidden refresh button -->
                    </div>                
                    <!-- Country End -->

                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Region</h5>
                            <select class="custom-select" id="second-select" name="region">
                                {% if session['selectedValue'] == 'singapore'%}
                                <option value="singapore" {% if session['region'] == 'singapore' %}selected {% endif %}>Singapore</option>
                                <option value="jurong" {% if session['region'] == 'jurong' %}selected {% endif %}>Jurong</option>
                                <option value="changi" {% if session['region'] == 'changi' %}selected {% endif %}>Changi</option>
                                <option value="chinatown" {% if session['region'] == 'chinatown' %}selected {% endif %}>Chinatown</option>
                                <option value="marina" {% if session['region'] == 'marina' %}selected {% endif %}>Marina</option>
                                <option value="sentosa" {% if session['region'] == 'sentosa' %}selected {% endif %}>Sentosa</option>
                                <option value="novena" {% if session['region'] == 'novena' %}selected {% endif %}>Novena</option>
                                <option value="seletar" {% if session['region'] == 'seletar' %}selected {% endif %}>Seletar</option>
                                <option value="kranji" {% if session['region'] == 'kranji' %}selected {% endif %}>Kranji</option>
                                {% elif session['selectedValue'] == 'japan'%}
                                <option value="japan" {% if session['region'] == 'japan' %}selected {% endif %}>Japan</option>
                                <option value="hiroshima" {% if session['region'] == 'hiroshima' %}selected {% endif %}>Hiroshima</option>
                                <option value="ishigaki" {% if session['region'] == 'ishigaki' %}selected {% endif %}>Ishigaki</option>
                                <option value="kochi" {% if session['region'] == 'kochi' %}selected {% endif %}>Kochi</option>
                                <option value="niigata" {% if session['region'] == 'niigata' %}selected {% endif %}>Niigata</option>
                                <option value="kitakyushu" {% if session['region'] == 'kitakyushu' %}selected {% endif %}>Kitakyushu</option>
                                <option value="kumamoto" {% if session['region'] == 'kumamoto' %}selected {% endif %}>Kumamoto</option>
                                <option value="kagoshima" {% if session['region'] == 'kagoshima' %}selected {% endif %}>Kagoshima</option>
                                <option value="miyakojima" {% if session['region'] == 'miyakojima' %}selected {% endif %}>Miyakojima</option>
                                <option value="matsuyama" {% if session['region'] == 'matsuyama' %}selected {% endif %}>Matsuyama</option>
                                <option value="nagoya" {% if session['region'] == 'nagoya' %}selected {% endif %}>Nagoya</option>
                                <option value="nagasaki" {% if session['region'] == 'nagasaki' %}selected {% endif %}>Nagasaki</option>
                                <option value="naha" {% if session['region'] == 'naha' %}selected {% endif %}>Naha</option>
                                <option value="osaka" {% if session['region'] == 'osaka' %}selected {% endif %}>Osaka</option>
                                <option value="sendai" {% if session['region'] == 'sendai' %}selected {% endif %}>Sendai</option>
                                {% endif %}
                            </select>
                    </div>
                    <input type="submit" class="primary-btn text-uppercase" name="submit" value="Apply filter">
                </form>
            </div>
            <!-- Shop Sidebar End -->

            <div class="col-lg-9 col-md-12">
                <div class="row" id="hotel-list-container">
                    {% for hotel in hotels %}
                    <div class="col-lg-4">
                        <div class="single-destinations">
                            <div class="thumb">
                                <img src="{{ hotel[6] }}" alt="" style="width: 400px; height: 200px;">
                            </div>
                            <div class="details">
                                <h4 class="d-flex justify-content-between">
                                    <span>{{ hotel[3] }}</span>
                                    <div class="star-container"> <!-- Added class "star-container" -->
                                        {% if "Exceptional" in hotel[5] %}
                                        {% if "99" in hotel[5] %}
                                    <div style="display: flex;">
                                        {% for _ in "12345" %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% else %}
                                            {% for _ in "1234" %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                            <span class="fa fa-star unchecked"></span>
                                        {% endif %}
                                        {% elif "Wonderful" or "Very good" or "Excellent" in hotel[5] %}
                                            {% for _ in "1234" %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            <span class="fa fa-star unchecked"></span>                                    
                                        {% else %}
                                            {% for _ in "123" %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            <span class="fa fa-star unchecked"></span>
                                            <span class="fa fa-star unchecked"></span>
                                        {% endif %}
                                    </div>
                                </h4>
                                <div class="describe">
                                    <p>{{ hotel[2] }}</p>
                                </div>
                                <ul class="package-list">
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span></span>
                                        <form method="POST" action="hotelinfo">
                                            <input type="text" name="hotelid" value={{hotel[1]}} style="display: none"></input>
                                            <input type="submit" name="submit" value="View hotel" class="price-btn"></input>
                                        </form>
                                    </li>
                                </ul>
                            </div>                        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            <div class="col-12 pb-1" id="pagination-container">
                <ul class="pagination justify-content-center mb-3">

                    {% if pagination.total > 4 and pagination.page != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('hotels', page=1) }}">&laquo; first</a>
                    </li>
                    {% endif %}

                    {% set num_pages = 5 %}  {# Number of page numbers to show #}
                    {% set start_page = pagination.page - (num_pages // 2) %}
                    {% set end_page = start_page + num_pages - 1 %}
                    
                    {% if start_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=start_page - 1) }}">...</a>
                        </li>
                    {% endif %}
                    
                    {% for page_num in range(start_page, end_page + 1) %}
                        {% if page_num >= 1 and page_num <= pagination.total %}
                            <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('hotels', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if pagination.page < pagination.pages | int %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=pagination.page + 1) }}">...</a>
                        </li>
                    {% endif %}
                    
                    {% if pagination.page != pagination.total and pagination.total > 4 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=pagination.total | int) }}">&raquo; last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </section>
    <!-- End destinations Area -->
    {% endblock %}