{% extends "base.html" %} {% block title %}Hotel Details{% endblock %}
{% block content%}



<!-- ##### About Us Area Start ##### -->
<section class="about-us-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-text mb-100">
                    <div class="section-heading">
                        <div class="line-"></div>
                        <h2>Welcome to</h2><h1 class="m-0 text-uppercase text-primary">{{hotel[3]}}</h1>
                    </div>
                    <p>{{hotel[2]}}</p>

                    <i class="fa fa-map-marker" style="font-size:24px ; color:red" ></i>
                    <a href="https://www.google.com/maps?q={{hotel[3]}}"target="_blank">{{hotel[4]}}</a>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-thumbnail section-padding-100">
                    <img src="{{hotel[6]}}" width="500" height="500">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->


<!-- ##### Rooms Area Start ##### -->
<section class="rooms-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Choose a room</h2>
                    <p>Welcome to our selection of beautifully designed and thoughtfully curated spaces. Whether you're planning a relaxing getaway, a business trip, or a special event, we offer a variety of rooms to suit your needs and preferences.</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for room in roomdetails %}
            <!-- Single Rooms Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="bg-thumbnail bg-img" style="background-image: url({{room[2]}});"></div>
                    <!-- Price -->
                    <p class="price-from">{{room[1]}}</p>
                    <!-- Rooms Text -->
                    <div class="rooms-text">
                        <div class="line"></div>
                        <h4>{{room[0]}}</h4>
                        <div class="mb-3 text-center">
                            <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i> 3 Bed |</small>
                            <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i> 1 Bath |</small>
                            <small><i class="fa fa-wifi text-primary me-2"></i> Wifi</small>
                        </div>
                    </div>
                    <!-- Book Room -->
                    <form method="POST" action="/hotelBooking">
                        <input type="hidden" name="roomprice" value="{{ room[1]}}">
                        <input type="hidden" name="roomtype" value="{{ room[0]}}">
                        <input type="submit" class="book-room-btn btn palatin-btn" name="submit" value="Book Room">
                        <!--<a href="hotelBooking" class="book-room-btn btn palatin-btn">Book Room</a>-->
                    </form>
                </div>
            </div>
        {% endfor %}

    <!-- ##### Rooms Area End ##### -->
{% endblock %}