{% extends "base.html" %} {% block title %}Hotels{% endblock %} 
    {% block content%}

    <!-- Start destinations Area -->
    <section class="destinations-area section-gap">
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-9 col-md-12">
                <div class="row" id="hotel-list-container">
                    {% for hotel in hotels %}
                    <div class="col-lg-4">
                        <div class="single-destinations">
                            <div class="thumb">
                                <img src="{{ hotel[6] }}" alt="" style="width: 400px; height: 200px;">
                            </div>
                            <div class="details">
                                <h4 class="d-flex justify-content-between">
                                    <span>{{ hotel[3] }}</span>
                                    <div class="star-container"> <!-- Added class "star-container" -->
                                        {% if "Exceptional" in hotel[5] %}
                                        {% if "99" in hotel[5] %}
                                    <div style="display: flex;">
                                        {% for _ in "12345" %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% else %}
                                            {% for _ in "1234" %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                            <span class="fa fa-star unchecked"></span>
                                        {% endif %}
                                        {% elif "Wonderful" or "Very good" or "Excellent" in hotel[5] %}
                                            {% for _ in "1234" %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            <span class="fa fa-star unchecked"></span>                                    
                                        {% else %}
                                            {% for _ in "123" %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            <span class="fa fa-star unchecked"></span>
                                            <span class="fa fa-star unchecked"></span>
                                        {% endif %}
                                    </div>
                                </h4>
                                <div class="describe">
                                    <p>{{ hotel[2] }}</p>
                                </div>
                                <ul class="package-list">
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span id="price">{{ hotel[10]|replace('"', '') }}</span>
                                        <form method="POST" action="hotelinfo">
                                            <input type="text" name="hotelid" value={{hotel[1]}} style="display: none"></input>
                                            <input type="submit" name="submit" value="View hotel" class="price-btn"></input>
                                        </form>
                                    </li>
                                </ul>
                            </div>                        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            <div class="col-12 pb-1" id="pagination-container">
                <ul class="pagination justify-content-center mb-3">

                    {% if pagination.total > 4 and pagination.page != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('hotels', page=1) }}">&laquo; first</a>
                    </li>
                    {% endif %}

                    {% set num_pages = 5 %}  {# Number of page numbers to show #}
                    {% set start_page = pagination.page - (num_pages // 2) %}
                    {% set end_page = start_page + num_pages - 1 %}
                    
                    {% if start_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=start_page - 1) }}">...</a>
                        </li>
                    {% endif %}
                    
                    {% for page_num in range(start_page, end_page + 1) %}
                        {% if page_num >= 1 and page_num <= pagination.total %}
                            <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('hotels', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if pagination.page < pagination.pages | int %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=pagination.page + 1) }}">...</a>
                        </li>
                    {% endif %}
                    
                    {% if pagination.page != pagination.total and pagination.total > 4 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('hotels', page=pagination.total | int) }}">&raquo; last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </section>
    <!-- End destinations Area -->
    {% endblock %}