{% extends "base.html" %} {% block title %}Travel{% endblock %} 
{% block content%}

<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>				
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">Away from monotonous life</h6>
				<h1 class="text-white">MAGICAL TRAVEL</h1>
				<p class="text-white">
					With our booking platform that offers the cheapest rate in the market!
				</p>
			</div>
			<div class="col-lg-6 col-md-6 banner-right">
				<div class="tab-content" id="myTabContent">
					<form class="form-wrap" method='POST' action='/index'>
						<input type="text" class="form-control" name="country" placeholder="Country/Cities" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Country/Cities'">
						<input type="text" class="form-control date-picker" name="checkin" placeholder="Check in " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check in '">
						<input type="text" class="form-control date-picker" name="checkout" placeholder="Check out " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check out '">
						<input type="number" min="1" max="10" class="form-control" name="rooms" id="roomInput" placeholder="Room " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Room '">
						<div id="adultChildContainer" class="row align-items-center justify-content-between" style="display: none;">
							<!-- Adult and Child columns will be added here dynamically -->
						</div>
						<input type="submit" class="primary-btn text-uppercase" name="submit" value="Search hotels">									
					</form>
				</div>
			</div>
		</div>
	</div>					
</section>
<!-- End banner Area -->

<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Review by our customers</h1>
					<p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-testimonial">
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="{{ url_for('static', filename='img/elements/user2.png') }}" alt="">
					</div>
					<div class="desc">
						<p>
							The booking process was smooth and straightforward. A user-friendly platform that made securing my reservation effortless.
						</p>
						<h4>Marbu</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="{{ url_for('static', filename='img/elements/user1.png') }}" alt="">
					</div>
					<div class="desc">
						<p>
							Booking was a breeze! The website's interface was user-friendly, and the entire process was quick and efficient. Highly recommended for a hassle-free booking.		     
						</p>
						<h4>Gokana</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>				
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="{{ url_for('static', filename='img/elements/user2.png') }}" alt="">
					</div>
					<div class="desc">
						<p>
							Impressed by the speed and reliability of the booking service. Within minutes, my reservation was confirmed without any issues.
						</p>
						<h4>Carolyn Craig</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="{{ url_for('static', filename='img/elements/user1.png') }}" alt="">
					</div>
					<div class="desc">
						<p>
							The website's interface was intuitive, making the reservation process quick and hassle-free. A reliable platform for easy bookings.		     
						</p>
						<h4>Harriet Maxwell</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>				
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="{{ url_for('static', filename='img/elements/user2.png') }}" alt="">
					</div>
					<div class="desc">
						<p>
							Smooth booking experience and excellent customer support. Highly recommended for its ease of use.
						</p>
						<h4>Carolyn Craig</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>		                    		                    
			</div>
		</div>
	</div>
</section>
<!-- End testimonial Area -->		

{% endblock %}