{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content%}

<header id="header">
	<div class="header-top">    
		<div class="container">
		  <div class="row align-items-center">
			  <div class="col-lg-6 col-sm-6 col-6 header-top-right">
			  </div>
		  </div>			  					
		</div>
	</div>
	<div class="container main-menu">
		<div class="row align-items-center justify-content-between d-flex">
		  <div id="logo">
			<a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" title="" /></a>
		  </div>
		  <nav id="nav-menu-container">
			<ul class="nav-menu">
			  <li><a href="index">Home</a></li>
			  <li><a href="about.html">About</a></li>
			  <li><a href="packages.html">Packages</a></li>
			  <li><a href="hotels.html">Hotels</a></li>        					          		          
			  <li><a href="contact.html">Contact</a></li>
			  {% if session['loggedin'] %}
			  <li><a href="index">{{account}}</a></li>
			  <li><a href="logout">Logout</a></li>
			  {% else %}
			  <li><a href="login">Login</a></li>
			  <li><a href="signup">Sign Up</a></li>
			  {% endif %}
			</ul>
		  </nav><!-- #nav-menu-container -->					      		  
		</div>
	</div>
</header><!-- #header -->


<section class="register-body">
    <video autoplay muted loop id="myVideo">
        <source src="{{url_for('static', filename='/img/login-bg.mp4') }}" type="video/mp4">
    </video>
    <!-- Login Admin -->
    <form class="form-default" method="POST">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="name">Full name</label>
                <input  type="text" name="name" placeholder="Full name">
            </div>
            <div class="form-input">
                <label for="name">Username</label>
                <input  type="text" name="username" placeholder="Username">
            </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" name="password1" placeholder="Password">
            </div>
            <div class="form-input">
                <label for="name">Confirm Password</label>
                <input type="password" name="password2" placeholder="Confirm Password">
            </div>
            <div class="form-input">
                <label for="name">Contact Number</label>
                <input  type="text" name="contact" placeholder="Contact Number">
            </div>
            <div class="form-input">
                <label for="name">DOB</label>
                <input  type="text" name="dob" placeholder="DOB">
            </div>
            <div class="form-input">
                <label for="name">Gender</label>
                <input  type="text" name="gender" placeholder="Gender">
            </div>
            <div class="form-input">
                <label for="name">Nationality</label>
                <input  type="text" name="nationality" placeholder="Nationality">
            </div>
            <div class="form-input">
                <label for="name">Passport Number</label>
                <input  type="text" name="passport" placeholder="passport">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="signup">
            </div>
            <!-- Forget Password -->
            <a href="login" class="registration" align="center">login</a>
        </div>
    </form>
    <!-- /end login form -->
</section>

{% endblock %}