{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
'''
hello
'''
<section class="login-body">
    <video autoplay muted loop id="myVideo">
        <source src="{{url_for('static', filename='/img/login-bg.mp4') }}" type="video/mp4">
    </video>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="/userpage" class="list-group-item list-group-item-action active">Edit Profile</a>
                    <a href="/userbookings" class="list-group-item list-group-item-action">Bookings</a>
                    <a href="/userpassword" class="list-group-item list-group-item-action">Change password</a>

                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="POST" action="/userpage">
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            <input id="email" name="email" value="{{user[8]}}"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="passport" class="col-4 col-form-label">Passport</label>
                                        <div class="col-8">
                                            <input id="passport" name="passport" value="{{user[9]}}"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customerName" class="col-4 col-form-label">Customer Name</label>
                                        <div class="col-8">
                                            <input id="customerName" name="customerName" value="{{user[1]}}"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="userName" class="col-4 col-form-label">User Name</label>
                                        <div class="col-8">
                                            <input id="userName" name="userName" value="{{user[2]}}"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ContactNum" class="col-4 col-form-label">Contact number</label>
                                        <div class="col-8">
                                            <input id="contactNum" name="contactNum" value="{{user[4]}}"
                                                   class="form-control here" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="dob" class="col-4 col-form-label">Date Of Birth</label>
                                        <div class="col-8">
                                            <input id="dob" name="dob" value="{{user[5]}}"
                                                   class="form-control date-picker" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="gender" class="col-4 col-form-label">Gender</label>
                                        <div class="col-8">
                                            <input id="gender" name="gender" value="{{user[6]}}"
                                                   class="form-control here" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="nation" class="col-4 col-form-label">Nationality</label>
                                        <div class="col-8">
                                            <input id="nation" name="nation" value="{{user[7]}}"
                                                   class="form-control here" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <div class="d-flex justify-content-between">
                                                <button name="delete" type="submit" class="btn btn-danger" value="delete">Delete My
                                                    Profile
                                                </button>
                                                <button name="submit" type="submit" class="btn btn-primary">Update My
                                                    Profile
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}