{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
'''
hello
'''
<section class="login-body">
    <video autoplay muted loop id="myVideo">
        <source src="{{url_for('static', filename='/img/login-bg.mp4') }}" type="video/mp4">
    </video>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="/userpage" class="list-group-item list-group-item-action">Edit Profile</a>
                    <a href="/userbookings" class="list-group-item list-group-item-action">Bookings</a>
                    <a href="/userpassword" class="list-group-item list-group-item-action active">Change password</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Change Password</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if msg['msg'] != '' %}
                                 <div class="mb-4 text-center {{'text-danger' if msg['is_error'] }} {{'text-success' if not msg['is_error'] }}">{{msg['msg']}}</div>
                                {% endif %}

                                <form method="POST" action="/userpassword">
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Current Password</label>
                                        <div class="col-8">
                                            <input id="email" name="old_pwd" placeholder="Current Password"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customerName" class="col-4 col-form-label">New Password</label>
                                        <div class="col-8">
                                            <input id="customerName" name="new_pwd" placeholder="New Password"
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="userName" class="col-4 col-form-label">Confirm Password</label>
                                        <div class="col-8">
                                            <input id="userName" name="confirm_pwd" placeholder=""
                                                   class="form-control here" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}